@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

/* Initial state for detailed card - off-screen */
.detailed-card {
  position: absolute;
  transform: translateX(100vw); /* Initially off-screen */
  transition: transform 0.3s ease; /* Smooth transition */
}

/* When details-visible class is applied, bring detailed card into view */
.details-visible .detailed-card {
  transform: translateX(0); /* Bring it into view */
  width: 30%; /* Adjust width */
  position: relative;
}

/* When closing, temporarily move the card back */
.detailed-card.closing {
  transform: translateX(100vw); /* Transition back off-screen */
  transition: transform 0.3s ease; /* Ensure smooth transition */
}

/* Ensure the classes-wrapper width transition works seamlessly */
.details-visible .classes-wrapper {
  width: 50%;
}

@media (max-width: 768px) {
  .detailed-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
    z-index: 50;
    background-color: white;
    border-radius: 1rem;
    display: none; /* Always visible on mobile */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
